CONFIG_DEVTMPFS=y
CONFIG_FHANDLE=y
CONFIG_SYSVIPC=y
CONFIG_IPC_NS=y
CONFIG_NET_NS=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_VT=y

CONFIG_CMDLINE_OVERRIDE=y
CONFIG_CMDLINE_FORCE=y
CONFIG_CMDLINE_EXTEND=y

CONFIG_SECURITY=y


#config_security_apparmor depends on
CONFIG_SECURITY_PATH=y
CONFIG_SECURITYFS=y
#end depends



CONFIG_AUDIT=y
CONFIG_VT_CONSOLE=y


CONFIG_CMDLINE="console=tty0 bootopt=64S3,32N2,64N2 buildvariant=userdebug systempart=/dev/mapper/system "

#bluebinder
CONFIG_BT_HCIVHCI=y
#apparmor
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY="apparmor"
CONFIG_LSM="lockdown,yama,loadpin,safesetid,integrity,apparmor,selinux,smack,tomoyo,bpf"

